@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap");
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter";
}

#chart {
  position: relative;
  display: block;
  border: solid 2px black;
  border-radius: 3px;
  display: flex;
  align-items: flex-end;
}

.barElement {
  position: relative;
  font-size: 1em;
}

p {
  margin: 0;
  font-size: 0.75em;
  font-weight: bold;
}

#yAxisLabels {
  height: 103%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  position: absolute;
  left: -25px;
  bottom: -5px;

  font-weight: 400 !important;
}

.yAxisDivider {
  width: 100%;
  display: block;
  margin-top: 7px;
  margin-bottom: 7px;

  height: 1px;
  background-color: #dbdbdb;
  margin-left: 5px;
}

#yAxisDividersContainer {
  position: absolute;
  top: -7px;
  left: -4px;
  width: 100%;
  display: flex;
  flex-flow: row;
  align-content: space-between;
  flex-wrap: wrap;
  height: 103%;
}
