@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap");
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter";
}

#chart {
  display: block;
  border: solid 2px black;
  border-radius: 3px;
  display: flex;
  align-items: flex-end;
  padding-top: 5px;
}

p {
  margin: 0;
}
