@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap");
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter";
}

#chart {
  position: relative;
  display: block;
  border: solid 2px black;
  border-radius: 3px;
  display: flex;
  align-items: flex-end;
  padding-top: 5px;
}

.barElement {
  font-size: 1em;
}

p {
  margin: 0;
  font-size: 0.75em;
  font-weight: bold;
}

#yAxisLabels {
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  position: absolute;
  left: -25px;
  font-weight: 400 !important;
}
